#  class `lua print(SnakeToPascalCase(CurrentFile()))` {}
snippet fdc freezed-data-class 
	@freezed
	class `lua print(SnakeToPascalCase(CurrentFile()))` with _$`lua print(SnakeToPascalCase(CurrentFile()))` {
		$0
	}
