snippet fjson freezed-from-json
	factory `lua print(SnakeToPascalCase(vim.fn.expand('%:t:r')))`.fromJson(Map<String, dynamic> json) => _$`lua print(SnakeToPascalCase(vim.fn.expand('%:t:r')))`FromJson(json);$0
