snippet fpart freezed-imports
	import 'package:freezed_annotation/freezed_annotation.dart';
	import 'package:json_annotation/json_annotation.dart';

	part '`echo expand('%:t:r')`.freezed.dart';
	part '`echo expand('%:t:r')`.g.dart';
	$0
